{% extends "base.html" %} {% block title %}About - MySite{% endblock %} {% block
content %}
<section>
  <h2>About Me</h2>
  <p>
    I am a software engineer with a passion for solving problems and creating
    reliable systems. I have a keen interest in technology and love to explore
    new advancements. In my free time, I enjoy playing music.
  </p>
</section>
<section class="interests">
  <h2>Interests</h2>
  <ul>
    <li>Software Development</li>
    <li>Web Development</li>
    <li>Artificial Intelligence</li>
    <li>Machine Learning</li>
    <li>Music</li>
  </ul>
</section>
{% endblock %}
