<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MySite{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-container">
        <a href="/" class="navbar-logo">MySite</a>
        <ul class="navbar-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/posts"> Posts </a></li>
        </ul>
        <div class="navbar-toggle" id="navbar-toggle">&#9776;</div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="content">{% block content %} {% endblock %}</div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
